@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "WorkSans-Bold";
    src: url(/assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: "WorkSans-Semibold";
    src: url(/assets/fonts/static/WorkSans-SemiBold.ttf);
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url(/assets/fonts/static/WorkSans-Regular.ttf);
}